
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

section {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section header {
    position:absolute;
    top: 0;
   width:100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    
}

section header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section header ul li {
    list-style: none;
    margin-left: 14px;
}
.a{
    padding-left: 5px;
}
li:hover{
    text-decoration: underline;
}

section header ul li a {
    color: #111;
    text-decoration: none;
    font-size: 16px;
}

section header ul li button {
    background: #1a73e8;
    border: none;
    outline: none;
    padding: 11px 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;
}
button:hover{
    text-decoration: underline;
}

section .main {
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.searchicon{position: absolute;
left: 0px;
padding-left: 10px;
width: 30px;

}

section .main .searchBox {
    position:relative;
    bottom: 0px;
padding-left: 4PX;

    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid #dedede;
}

section .main .searchBox .search {
    position: relative;
    left: 20px;
    width: 80%;
    padding: 10px;
    /* padding-right: 40px; */
    border-radius: 30px;
    border:none;
     outline: none; 
    font-size: 16px;
    
}
.searchbox:hover{box-shadow:0 4px 9px 1px rgba(64,60,67,.24);
    box-shadow:0 1px 6px rgba(32,33,36,.28);
}
.search:focus-visible{
    outline: none;
 }
 

section .main .searchBox .icons {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 7px 25px;
    justify-content:space-between;
    align-items: center;
}

section .main .searchBox .icons .miclens {position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    padding-top: 35px;
    
}

section .main .buttons {
    margin-top: 20px;
}

section .main .buttons button {
    margin: 0 5px;
    padding: 12px 20px;
    color: #3c4043;
    background: #f8f9fa;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
}

section .main .buttons button:hover {
    border: 1px solid #dedede;
}

section .main .languages {
    width: 100%;
    display: flex;
    margin-top: 35px;
    
}

section .main .languages li {
    list-style: none;
    margin: 0 5px;
    font-size: 13px;
}

section .main .languages li a {
    text-decoration: none;
    color: #1a0dab;
}

section .main .languages li a:hover {
    text-decoration: underline;
}

section .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    
}

section .footer .row {
    padding: 15px 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: #5f6368;
}

section .footer .row.row2 {
    display: flex;
    justify-content: space-between;
}

section .footer .row.row2 ul {
    display: flex;
}

section .footer .row.row2 ul li {
    list-style: none;
}

section .footer .row.row2 ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
} 

@media screen and (max-width:460px){
    header{
        width:30%;
        padding: 0px;
     }
     .store{display: none;
     }
     .gmail{
        display: none;
     }
      .img{
      position: absolute;
      top: 15px;
      padding:4px;
      left:70px
      
      
      }
    
     header ul li{padding: 0px;
     margin-left: 5px;
     }
     .image{
        width:150px ;
        height: 60px;
        display: flex;
        padding: 0%;
     }
     section{
        min-height: 70%;
     }
     .a{
        padding-left: 0%;
     }
     section header ul li button{
        font-size:12px;
        margin-left: 2px;
        padding:10px 10px ;
        width:50px;
     }
     .search{
        
       max-height: 34px;
     }
     .searchBox{
        max-width:90%;
        max-height: 38px;
        
        
     }
     .languages{
        max-width:80vw;
        display:flex;
        flex-wrap: wrap;
      justify-content: center;
     }
     
    .search:hover{
        box-shadow: none;
    }

    .footer .row{width:100%;
padding: 5px;

 }
 .footer .row.row.row2{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap:10px;
    justify-content:space-between;
    align-items: center;
 }
 .work{
    display: none;
 }
 .main button{
    display: none;
 }
}